<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CryptSharpOfficial" version="2.1.0.0" targetFramework="net47" />
  <package id="CsvHelper" version="15.0.1" targetFramework="net47" />
  <package id="EasyEncrypt.RSA" version="1.0.1.2" targetFramework="net47" />
  <package id="Json.Net" version="1.0.18" targetFramework="net47" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net47" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net47" />
</packages>